*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  

}
.main-content{
  width: 70vw;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.marcas{
height: 500px;

}
.sedan{
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0  0 10px;
}
.suv{
  background-color: hsl(184, 100%, 22%);
}
.luxury{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
.title{
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  padding: 3px;
}
.text{
font-family: 'Lexend Deca', sans-serif;
color:hsla(0, 0%, 100%, 0.75);
line-height: 35px;

}
.boton{
  border-radius: 30px;
  background-color:hsl(0, 0%, 95%);
  border: none;
  
}
.boton-sedan{
  color:hsl(31, 77%, 52%);
  font-family: 'Lexend Deca', sans-serif;
}
.boton-suvs{
  color:hsl(184, 100%, 22%);
  font-family: 'Lexend Deca', sans-serif;
}
.boton-luxury{
  color:hsl(179, 100%, 13%);
  font-family: 'Lexend Deca', sans-serif;
}